<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <!-- top tiles -->
		<div class="tile_count">
			<ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
    		</ion-refresher>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> Pengaduan Baru</span>
		      <div class="count">{{baru}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> Pengaduan Selesai</span>
		      <div class="count">{{selesai}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> Pengaduan Belum Selesai </span>
		      <div class="count green">{{belum}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> % Pengaduan Selesai</span>
		      <div class="count">{{persenselesai}}%</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> % Pengaduan Belum Selesai</span>
		      <div class="count">{{persenbelum}}%</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="isShow">
		      <span class="count_top"><i class="fa fa-bar-chart"></i> Total Pengaduan</span>
		      <div class="count">{{jlhadu}}</div>
		      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Pengaduan</span>
		    </div>
		</div>
      </div>
    </div>
	<input id="cari" class="user-name" placeholder="Lokasi Pengaduan">
    <div id="map" data-tap-disabled="true" style="clear:both; height:500px; position: relative; overflow: hidden;"></div>
  </ion-content>
</ion-view>
