<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Registration Home</h3>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Daftar Pengguna <small>Users</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered orderBy:'fullname'">
                      <thead>
                        <tr>
                          <th>Foto</th>
                          <th class="mobile">Nama Lengkap</th>
                          <th class="mobile">Email</th>
                          <th class="mobile">Gender</th>
                          <th class="mobile">User Level</th>
                          <th>Edit</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
                      <tr ng-repeat="user in users">
                        <td><img src="{{user.picture}}" alt="" class="img-user"></td>
                        <td class="mobile">{{user.fullname}}</td>
                        <td class="mobile">{{user.email}}</td>
                        <td class="mobile">{{user.gender}}</td>
                        <td class="mobile">{{user.level}}</td>
                        <td><button type="button" class="btn btn-primary btn-xs" ng-click="edit(user)">
                              <i class="fa fa-gears"> </i> Edit
                            </button></td>
                        <td ng-if="!user.isVerif"><button type="button" class="btn btn-warning btn-xs" ng-click="verify(user)">
                              <i class="fa fa-gears"> </i> Verify
                            </button></td>
                        <td ng-if="user.isVerif"><button type="button" class="btn btn-danger btn-xs" ng-click="delete(user)">
                              <i class="fa fa-gears"> </i> Delete
                            </button></td>
                      </tr>
                      </tbody>
                    </table>
                    <a href="#/app/registration/" class="btn btn-success"><i class="fa fa-plus-square m-right-xs"></i> add user</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
    </div>
  </ion-content>
</ion-view>
