<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Daftar Pengaduan</h3>
            <br>

          </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Pengadu</th>
              <th>Lokasi</th>
              <th>Komentar</th>
              <th>Bukti</th>
              <th>Tanggal</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>


          <tbody>
          <!--menampilkan data pelanggan-->
          <tr ng-repeat="adu in adus">
            <td>{{adu.picPengaduan}}</td> 
            <td>{{adu.locationPengaduan}}</td> 
            <td>{{adu.komentarPengaduan}}</td>
            <td><img src="{{adu.picture}}" alt="" class="img-user"></td>
            <td>{{adu.datePengaduan}}</td>
            <td><button type="button" class="{{adu.classBtn}}">
              <i class=""> </i> {{adu.statusPengaduan}}
            </button></td>
            <td><button type="button" class="btn btn-primary btn-xs" ng-click="edit(adu)">
              <i class="fa fa-tasks"> </i> Tanggapi
            </button></td>
          </tr>
          </tbody>
        </table>
  </ion-content>
</ion-view>
